@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url("/background-full.png");
  background-size: cover; /* or contain based on your need */
  background-position: center;
  background-repeat: no-repeat;
  height: 125vh;
}

.button {
  background-color: #1f7a8c !important;
}

.logo-button {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.logo-button:hover {
  transform: scale(1.1);
  /* box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3); Less intense shadow for non-hover state */
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

.outline-button:hover {
  background: transparent !important;
  border-width: 2px;
}

.logo-content-container {
  /* background: red;
  opacity: 0.25; */
  /* grid-row: span 2; */
  grid-column: 2;
}

.top-left-container {
  position: relative;
  grid-column: span 1;
}

.top-right-container {
}

.middle-row {
  /* background: purple; */
  grid-row: 2;
  grid-column: 2;
}

.footer {
  background: red;
  opacity: 0.5;
  grid-row: 2;
  grid-column: 2;
}

.box-shadow {
  /* box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5); */
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 1px 2px rgba(0, 0, 0, 0.23);
  /* -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5); */
}

.box-shadow-inset {
  box-shadow: inset 5px 5px 9px 26px #000000;
}

.shiny-gold-button {
  background: linear-gradient(45deg, #d4af37, #f9d71c, #d4af37) !important;
  color: black !important;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  z-index: 1; /* Ensure the button is above the pseudo-element */
}

.shiny-gold-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -45%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent 49%,
    white 50%,
    transparent 51%
  );
  transition: transform 0.3s;
  z-index: -1; /* Place the pseudo-element underneath the button text */
}

.shiny-gold-button:hover {
  transform: scale(1.05);
}

.shiny-gold-button:hover::before {
  transform: rotate(30deg);
}

.portal-grid {
  grid-template-rows: 5fr 2fr;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

/* Customizing the scrollbar track (the part the thumb moves along) */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Customizing the scrollbar thumb (the part that's draggable) */
::-webkit-scrollbar-thumb {
  background: #e6c4f5;
}

/* Handle hover and active states for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

/* Customizing the width or height of the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

/* @media (max-width: 768px) {
  .background {
    background-image: url("/path/to/your-smaller-image.jpg");
  }
}

@media (max-width: 480px) {
  .background {
    background-image: url("/path/to/your-smallest-image.jpg");
  }
} */
